<div class="flex flex-col items-center">

  <div class="flex">
    <%= render @post %>
  </div>

  <%# Comments section %>
  <div class="my-8 w-full">
    <h2 class="border-b-2 border-gray-200 text-bold">Comments</h2>
    <%# First, add a form for a new comment %>
    <% if user_signed_in? %>
      <%= render "comments/form", comment: Comment.new, post: @post %>
    <% end %>
    <%# Display all comments %>
    <%= render @comments %>
  </div>

</div>